/* Overwrite Salesforce Default CSS */

.siteforceContentArea .comm-layout-column:not(:empty) {
    /* padding-top: 0;
    padding-bottom: 0; */
    padding: 0;
}
.siteforceContentArea .comm-layout-column:not(:empty) {
    /* padding-top: 0;
    padding-bottom: 0; */
    padding: 0;
}