/* Overwrite Salesforce Default CSS */

.siteforceContentArea .comm-layout-column:not(:empty) {
    /* padding-top: 0;
    padding-bottom: 0; */
    padding: 0 !important;
}

.comm-layout-column {
    padding: 0 !important;
}


.slds-modal__container{
    max-width: 200rem !important;
    width:80% !important;
}


